@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');

body {
  background-color: #FAFAFA;
  font-family: 'Lato', sans-serif;
  color: #f4f6ff;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}

h1 {
  color: #f4f6ff;
  font-family: 'Lato', sans-serif;
  font-size: 30;
}
h2, h3 {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 20;
}

a {
  color: #bbe1fa;
  text-decoration: none;
}

a:hover {
  color: #bbe1fa;
}

p {
  color: black;

}

/* header styling  */

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.1;
  z-index: 1;
}

.typewriter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 10px 0 0 0;
  padding: 0;
  color: transparent;
  white-space: nowrap;
}

.typewriter:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
  border-right: 1px solid white;
  animation: type 10s steps(30) infinite;
;}

@keyframes type
{
    0%
    {
      width: 0;
    }
    50%
    {
      width: 100%;
    }
    100%
    {
      width: 0;
    }
  }

/* section styling  */

.section {
  width: 800px;
  margin: 0 auto;
}

#profile {
  margin: 20px auto;
  border-radius: 1px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}

#profile p {
  margin-bottom: 0 !important;
}
  
/* cards styling  */

.section h2 {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 20;
  padding: 20px 0;
}
.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.project {
  border-radius: 1px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}


.portrait img {
  height: 300px;
  width: 185px;
  left: 0;
}