/* --- Import external stylesheets --- */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');

/* --- Import Components stylesheets --- */

@import url("../css/header.css");
@import url("../css/section.css");
@import url("../css/skills.css");
@import url("../css/projects.css");
@import url("../css/socials.css");
@import url("../css/carousel.css");
@import url("../css/socials.css");
@import url("../css/gallery.css");

body {
  background-color: #FAFAFA;
  font-family: 'Lato', sans-serif;
  color: #f4f6ff;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}

h1 {
  color: #f4f6ff;
  font-family: 'Lato', sans-serif;
  font-size: 30;
}
h2, h3 {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 24;
  font-weight: bold;
}

a {
  color: #bbe1fa;
  text-decoration: none;
}

a:hover {
  color: #bbe1fa;
}

p {
  color: black;

}

li i {
  font-size: 30px;
  color: black;
}

li a{
  text-decoration: none;
  font-size: 14px;
  color: black;
}
